.AppQuotes {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #ff0000, #f86800, #e79b00, #ccc600, #a8eb12);
  display: flex;
  align-items: center;
  justify-content: center;

}

.card{
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 1px 1px 10px gray;
  padding: 30px;
  max-width: 400px;
  
}

.containerNextButton{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.nextButton{
  
  left: 100px;
  font-size: 30pt;
}

.containerQuote{
  display: flex;
}

.iconQuote{
  font-size: 30pt;
  margin: 8px;
}

.blue{
  color:#4E598C;
  background-image: linear-gradient(to right top, #14fff7, #00d5f1, #00abdc, #3b81b9, #4e598c);
}

.magenta{
  color:#DA3E52;
  background-image: linear-gradient(to right top, #da3e52, #d44565, #cc4e75, #c15782, #b5608c);
}

.yellow{
  background-image: linear-gradient(to right top, #ff0000, #f86800, #e79b00, #ccc600, #a8eb12);
  color:#f86800;
}

@media (max-width: 600px) {

  .card{
    max-width: 70vw;
  }
}